<li class="item item-draggable" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-main-column flexrow">
            <div class="flexrow">
                <img class="editor-toggle" src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.skills.details.tech.alt'}}"/>
                <a class="weapon-name {{#if data.data.skill.favoured.value}} favoured-attribute{{/if}}"
                   title="{{ localize 'tor2e.sheet.action.toggle.favoured' }}"
                   data-action-name="{{localize data.label}}"
                   data-action-value="{{data.data.skill.value}}"
                   data-action-favoured-name="data.skill.favoured.value"
                   data-action-favoured-value="{{data.data.skill.favoured.value}}">
                    <p>{{name}}</p>
                </a>
            </div>
        </div>
        <div class="inline-item-skill-modify flexrow skill-element-row table-complex-column"
             data-field="data.skill.value"
             data-action-value="{{data.data.skill.value}}"
             data-action-max-value="6">
            {{#skill-dots data.data.skill.value 6}}
            {{/skill-dots}}
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.damage.value}}
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.injury.value}}
        </div>
        <div>
            <a class="item-edit action" title="{{localize "tor2e.sheet.skill.edit"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{ localize 'tor2e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="flexcol editor-container-toggelable">
        <div class="flexcol">
            <div class="flexrow">
                <p class="table-caption">{{localize "tor2e.weapons.details.group"}}</p>
                <p class="table-caption">{{localize "tor2e.weapons.details.notes"}}</p>
            </div>
            <div class="flexrow">
                <p class="attribute-value">{{localize data.data.group.value}}</p>
                <p class="attribute-value">{{data.data.notes.value}}</p>
            </div>
        </div>
        {{#if data.data.ranged.value}}
            <div class="flexcol">
                <div class="flexrow">
                    <p class="table-caption">{{localize data.data.ranged.short.label}}</p>
                    <p class="table-caption">{{localize data.data.ranged.medium.label}}</p>
                    <p class="table-caption">{{localize data.data.ranged.long.label}}</p>
                </div>
                <div class="flexrow">
                    <p class="attribute-value">{{data.data.ranged.short.value}} + {{localize "tor2e.stats.strength"}}</p>
                    <p class="attribute-value">{{data.data.ranged.medium.value}}  + {{localize "tor2e.stats.strength"}}</p>
                    <p class="attribute-value">{{data.data.ranged.long.value}}  + {{localize "tor2e.stats.strength"}}</p>
                </div>
            </div>
        {{/if}}
        <div>
            <h3 class="toggle">{{localize "tor2e.common.description"}}</h3>
            <div class="editor-container">
                {{editor content=this.data.data.description.value target="data.description.value" button=true
                         owner=isOwner
                         editable=false}}
            </div>
        </div>
    </div>
</li>