<section id="weary-not-weary">
    <div class="mandatory">
        <h2>{{localize "tor2e.chat.taskCheck.options.weary-not-weary"}}</h2>

        <div class="form-group centered">
            <!-- Rounded switch -->
            <div class="flexrow best-worst">
                <span class="right-align">{{localize "tor2e.chat.taskCheck.options.not-weary"}}</span>
                <label for="weary-roll" class="switch">
                    <input id="weary-roll" type="checkbox" name="wearyRoll"
                           value="{{wearyRoll}}" {{checked wearyRoll}}>
                    <span class="slider round"></span>
                </label>
                <span class="left-align">{{localize "tor2e.chat.taskCheck.options.weary"}}</span>
            </div>
        </div>
    </div>
</section>